<div class="row text-center">
  <label class="switch" >
    <input type="checkbox" id='hide_password'>
    <span class="slider round"></span>
  </label>
</div>
<div class="row">
  <%= form.text_field :password, id: 'encryption_password', placeholder: 'Write in the Rx Password that prevents unauthorized access by pharmacists', class: 'form-control' %>
  <br />
</div>
<br />