<div class="row">
<%= text_field_tag :search_drugs, '', { placeholder: 'Write in drug names to add to your prescription', class: 'form-control search_drugs' } %>
</div>
<br /><br /> <hr />
<div class="row">
  <div class="col-md-12">
    <div class="rx-list">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>