<div class="">
  <p id="notice">
    <%= notice %>
  </p>
  
  <%- if current_user.profile.physician? or current_user.admin? %>
    <h1>Your prescriptions</h1>
    
   <div class="card-group">
      <% @rxes.each do |rx| %>
        <div class="card">
          <%= link_to  time_ago_in_words(rx.created_at), rx %>
        </div>
      <% end %>
   </div>
    
    <%= link_to 'New Rx', new_rx_path %>

  <% else %>

  <% end %>
</div>