<div class="">
  <p id="notice">
    <%= notice %>
  </p>
  
  <h1>Rxes</h1>
  
  <h2><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></h2>

  <%= render 'layouts/card.html.erb', card_title: 'Rx', card_header: 'Column Names', card_text: model_column_names(Rx), card_footer: '' %>
  
  <%= link_to 'New Rx', new_rx_path %>

</div>