<div class="">
  <p id="notice">
    <%= notice %>
  </p>
  
  <h1>Rxes</h1>
  
  <%= render 'layouts/card.html.erb', card_title: 'Rx', card_header: 'Column Names', card_text: rx_column_names %>
  
    <%= link_to 'New Rx', new_rx_path %>

</div>