@import 'colors';
@import 'login_form';
@import 'footer';
@import 'demo';
@import 'component';
@import 'custom';
@import 'welcome';
@import 'bootstrap';
@import 'switch_box';

nav,
nav a,
header a {
    background-color: inherit;
    border: none;
    color: $primary-color;
    &:hover {
        color: rgb(233, 66, 44);
        text-decoration: none;
    }
}

.sidebar {
    border: none;
}

.centered {
    text-align: center;
    left: 50%;
}

.hint {
    font-family: 'Verdana';
    font-weight: 300;
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10px;
    border: none;
    background: transparent;
    font-size: 1.7em;
    color: #f08a8f;
    transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.btn-primary{
  background-color: $primary-color;
}

#encryption_password {
    font-size: 3em;
    font-weight: 600;
    color: orange;
    text-align: center;
}

.rx-list {
    color: orange;
    background: rgba(245, 226, 192, 0.5);
    min-height: 60px;
    border: 2px solid;
}

.search_drugs {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search_drugs:focus {
    width: 100%;
}