.page-footer {
  padding-top: 20px;
  margin-top: 10px;
  color: #fff;
  background-color: #ee6e73;
  ul{
    list-style: none;
  }
}
.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
article, aside, footer, header, nav, section {
  display: block;
}

