<%= form_tag search_for_path, class: 'morphsearch-form', method: :get do %>
  <input class="morphsearch-input" name="term" type="search" placeholder="Rxes & Drugs..." />
  <button class="morphsearch-submit" type="submit">Search</button>
<% end %>